################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/bin/
/obj/
/packages/

/data/

__pycache__/
*.py[cod]
*$py.class


