<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WarBender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <userSettings>
    <WarBender.Properties.Settings>
      <setting name="MainForm_Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainForm_SplitterDistance" serializeAs="String">
        <value>295</value>
      </setting>
      <setting name="MainForm_Size" serializeAs="String">
        <value>734, 511</value>
      </setting>
      <setting name="ConsoleForm_Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ConsoleForm_ClientSize" serializeAs="String">
        <value>499, 274</value>
      </setting>
      <setting name="UseRawIds" serializeAs="String">
        <value>False</value>
      </setting>
    </WarBender.Properties.Settings>
  </userSettings>
</configuration>
